# Question 1

In [ ]:
print("Ozele Charles")
print("Department of Mathematics and Stastics")
print("University of Port Harcourt")
print("Fishfarm, Rumakini Rumosi")
print("Nigeria")

# Question 2

In [ ]:
name=input("Enter Name: ")
print(f"Hello {name}")

# Question 3

In [ ]:
width=float(input("Enter width of Room in meters: "))
length=float(input("Enter length of Room in meters: "))
area=round((width*length),2)
print(f"Area of the room:{area}sqm")

# Question 4

In [ ]:
width=float(input("Enter width of field in feet: "))
length=float(input("Enter length of field in feet: "))
area=width*length
area_in_acre=round((area/43560),2)
print(f"Area of field: {area_in_acre}acre")

# Question 5

In [ ]:
container1=int(input("Enter number of containers holding one liter or less: "))
container2=int(input("Enter number of containers holding more than one liter: "))
refund=round((container1*0.10+container2*0.25),2)
print("Thank you for your efforts towards keeping the enivorment clean")
print(f"Refund:${refund}")

# Question 6

In [ ]:
cost_of_meal=float(input("Enter Cost of Meal: "))
tax=round(0.05*cost_of_meal,2)
tip=round(0.18*cost_of_meal,2)
grand_total=round((cost_of_meal+tax+tip),2)
print(f"Tax:{tax}")
print(f"Tip:{tip}")
print(f"Grand Total:{grand_total}")

# Question 7

In [ ]:
num=int(input("Enter a number: "))
if num<0:
    print("Error!!\nYou entered a negative integer")
else:
    summ=(num*(num+1))/2
    print(f"The sum of all postive integers from 1 to {num}: {summ}")

# Question 8

In [ ]:
no_widget=int(input("Enter number of Widgets: "))
no_gizmos=int(input("Enter number of Gizmos: "))
wid=no_widget*75
giz=no_gizmos*112
total_weight=wid+giz
print(f"Total Weight of the order: {total_weight}grams")

# Question 9

In [ ]:
amount=float(input("Enter Amount"))
rate=0.04
first_year=round((1+rate)*amount,2)
second_year=round((1+rate)*first_year,2)
third_year=round((1+rate)*second_year,2)
print(f"1st Year:{first_year}")
print(f"2nd Year:{second_year}")
print(f"3rd Year:{third_year}")

# Question 10

In [ ]:
import math as mth

In [ ]:
a=float(input("Enter number: "))
b=float(input("Enter number: "))
summ=a+b
diff=a-b
product=a*b
quot=a//b
rema=a%b
log=mth.log10(a)
power=a**b
print(f"sum:{summ}")
print(f"Difference:{diff}")
print(f"Product:{product}")
print(f"Quotient:{quot}")
print(f"Remainder:{rema}")
print(log)
print(power)

# Question 11

In [ ]:
1mpg=235.215l/100km
24=x

In [ ]:
fuel=float(input("Enter distance in miles-per-gallon: "))
efficiency=fuel/235.215
print(f"Fuel Efficency: {efficiency}")

# Question 12

In [2]:
import math as mth

In [ ]:
mth.sin(56)

In [21]:
lat1=float(input("Enter Latitude(t1) in degrees: "))
lat2=float(input("Enter Latitude(g1) in degrees: "))
long1=float(input("Enter Longitude(t2) in degrees: "))
long2=float(input("Enter Longitude(g2) in degrees: "))
distance=6371.01*mth.acos(mth.sin(lat1)*mth.sin(long1)+mth.cos(lat1)*mth.cos(long1)*mth.cos(lat2-long2))
print(distance)

Enter Latitude(t1) in degrees: 65
Enter Latitude(g1) in degrees: 58
Enter Longitude(t2) in degrees: 72
Enter Longitude(g2) in degrees: 39
4626.108726345458

In [ ]:
# Question 13

In [ ]:
1nickel=5cent
1penny=1cent
1 dime=10 cents
1 quarter= 25 cents
1 loonie= 100cent
1 toonie=200cent

In [8]:
change=int(input("Enter amount of cent: "))
change1=change//200
change2=change%200
if change2 >=100:
    change2=change2//100
    print(f"{change1},{change2}")
elif change

Enter amount of cent: 85
0

85

In [26]:
105%100

5

In [ ]:
# Question 14

In [24]:
feet=float(input("Enter number of Feet: "))
inch=float(input("Enter number of inches: "))
height_=feet*30.48
height=inch*2.54
print(f"{feet}feet equivalent to {height_}cm\n{inch}inch equivalent to {height}cm")

Enter number of Feet: 78
Enter number of inches: 59
78.0feet equivalent to 2377.44cm
59.0inch equivalent to 149.86cm

In [ ]:
1 inch=2.54cm
12inch=x

In [ ]:
1f00t=30.48cm

In [ ]:
# Question 15

In [23]:
foot=float(input("Enter measurement(in feet): "))
inch=round(foot*12,2)
yard=round(foot*0.333,2)
mile=round(foot*0.000189,3)
print(f"The eqivalent of {foot}feet, in inch,yard and mile is thus;\nInch:{inch}\nYard:{yard}\nMile:{mile}")

Enter measurement(in feet): 576
The eqivalent of 576.0feet, in inch,yard and mile is thus;
Inch:6912.0
Yard:191.81
Mile:0.109

In [ ]:
# Question 16

In [14]:
import math as mth

In [19]:
PI=mth.pi
radius=float(input("Enter Radius: "))
area=round(PI*radius**2,2)
volume=round(4/3*PI*radius**3,2)
print(f"Area of Circle: {area}, with radius:{radius}\nThe volume of a sphere: {volume}, with radius:{radius}")

Enter Radius: 2
Area of Circle: 12.57, with radius:2.0
The volume of a sphere: 33.51, with radius:2.0

In [ ]:
# Question 17

In [13]:
SPC=4.186 #Specific heat capacity of water
mass=float(input("Enter Mass(in grams): "))
temp1=float(input("Enter First temperature(in celsius): "))
temp2=float(input("Enter Second Temperature(in celsius): "))
energy=mass*SPC*(temp2-temp1)
electric_cost=round((energy/3600000)*8.9,2)
print(f"Total amount of energy: {energy}\nCost of heating the water: ${electric_cost}")

Enter Mass(in grams): 1500
Enter First temperature(in celsius): 55
Enter Second Temperature(in celsius): 68
Total amount of energy: 81627.0
Cost of heating the water: 0.2

In [ ]:
# Question 18

In [3]:
import math as mth

In [8]:
radius=float(input("Enter Radius of Cylinder: "))
height=float(input("Enter Height of Cylinder: "))
volume=round((mth.pi*radius**2*height),1)
print(f"The Volume of the cylinder: {volume}")

Enter Radius of Cylinder: 3
Enter Height of Cylinder: 5
The Volume of the cylinder: 141.4